<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>annoying captcha</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div class = "game-container">
            <header>
                <h1 class= "game-title">The World's Most Annoying Captcha</h1>
                <div class = "status-bar">
                    <span>stage: <strong id="stage-count">0 / 12</strong></span>
                    <span>time: <strong id="timer-display">0.0s</strong></span>
                </div>

                <h2 class = "stage-header">Are you a robot, or a human?</h2>
                <p class = "stage-text">Press start to complete the Captcha verification in order to access the rest of the website.</p>

                <a href="/game" class="button-link"><button type="button">Start</button></a>
                <a href="/leaderboard" class="button-link"><button type="button">Leaderboard</button></a>

            </header>
            
        </div>
    </body>
</html>