<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>leaderboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class = "game-container">
            <h1 class= "game-title no-status">The World's Most Annoying Catcpha</h1>
            
            <h1 id = "hall-of-fame">Hall of Fame</h1>
            <ol id="scores-list"></ol>
            <a href="/" class="button-link"><button type="button">back</button></a>
            <p  style="margin-top: 100px;">Captcha Game©©©©©©©©©©©</p>
            <p>Contact Info: </p>
            <p>please don't contact us</p>
            <script>
                fetch('api/leaderboard')
                    .then(res => res.json())
                    .then(data => {
                        const list = document.getElementById('scores-list');
                        if (data.length == 0) {
                            list.innerHTML = '<li>no scores yet!</li>'
                        } else {
                            data.forEach(item => {
                                const li = document.createElement('li');
                                li.textContent = `${item.username}: ${item.completion_time}`;
                                list.appendChild(li);
                            });
                        }
                    });
            </script>
        </div>
    </body>
</html>