<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>annoying captcha</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div class = "game-container">
            <header>
                <h1 class = "game-title">The World's Most Annoying Captcha</h1>

                <div class = "status-bar">
                    <span>stage: <strong id="stage-count">1 / 10</strong></span>
                    <span>time: <strong id="timer-display">0.0s</strong></span>
                </div>
            </header>

            <main id="captcha-box">
            </main>
            <a href="/" class="button-link restart"><button type="button">Restart</button></a>
            <img id = "captcha-img" src="static/images/image.png" alt="Captcha Logos">
        </div>
        
        <script
         type="module"
         src="{{ url_for('static', filename='js/game.js') }}"
         ></script>
    </body>
</html>